.assetImage {
    width: 300px !important;
    height: 300px !important;
    object-fit:contain !important;
}

.assetHeader {
    background: linear-gradient(60deg, #002a40, #01476d) !important;
    object-fit: cover !important;
}

.functionSelector {
    /* top: -20px !important; */
    width: 100px;
}

.functionSelectorIcon {
    bottom: -20px !important;
}

.functionSelectorAD {
    top: -60px !important;
    right: -10px !important;
    width: 100px;
}

.Icon {
    width: 55px;
    height: 55px;
}

.headerIconBack {
    float: left;
    padding: 15px;
    margin-top: -20px;
    margin-right: 15px;
    border-radius: 3px;
        background: linear-gradient(60deg, #002a40, #01476d);
        box-shadow: 0 4px 20px 0 rgba(0, 0, 0,.14), 0 7px 10px -5px rgba(0, 172, 193,.4);
}

.makeStyles-appBar-79 {
    background: linear-gradient(60deg, #002a40, #01476d) !important;
    border-radius: 0px !important;
}

.makeStyles-title-82 {
    color: white !important;
}

.makeStyles-underline-162:after {
    border-color: #26c6da !important;
}

.exitAsset {
    rotate: 180deg !important;
    top: -130px !important;
}

  .loading:after{
      content: '  .' !important;
      animation: dots 0.5s steps(5, end) infinite !important;
    }

    .qrReader {
        max-width: 500px;
    }